

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
    color: #FD6E0A;
}

.dark2{
    color: #474747;
}


.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color:#fff;
    padding: 16px 33px 17px 34px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
}
.btn-primary:hover{
    background-color:#fff ;
    font-weight: bold;
    font-size: 20px;
    color:#FD6E0A;
    padding: 16px 33px 17px 34px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color:#181818 ;
}
.section-description{
    font-size: 18px;
    color:#757575 ;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.text-center{
    text-align: center;
}
header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}   
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;

}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
   
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width:580px ;
    
}
.bnr-greeting{
    font-size: 45px;
    font-weight: 600px;
}
.bnr-title{
    font-weight: bold;
    font-size: 85px;
}
.bnr-profile{
    width: 580px;
    
}
.btn-2nd{
     background-color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    color:#FD6E0A;
    padding: 16px 35px 17px 36px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
}
.btn-2nd:hover{
     background-color:#FD6E0A ;
    font-weight: bold;
    font-size: 20px;
    color:#ffffff;
    padding: 16px 35px 17px 36px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
.banner-content .btn-2nd{
    margin-left: 30px;
} 
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top:130px;
    margin-bottom: 130px;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top:130px ;
}
.item-description{ 
    font-weight:bold;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.skills-containar{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
.padd{
    padding: 30px;
    padding-top: 10px;
    
} 
.section-title{
    margin-bottom: 100px;
    font-size: 35px;
    font-weight: bold;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description{
    color: #757575;
    padding-bottom: 30px;
    padding-right: 77px;
}
.experience-sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600px;
    margin-bottom:20px ;
}
.resume-column-title{
    font-weight:bold ;
    font-size: 30px;
    color: #474747;
}
.experience-title{
    font-weight:bold;
    font-size: 25px ;
    color: #474747;
    
}
.resume hr{
    background-color: #d1d1d1;
    margin: 30px 5px;
   
}
.resume-cv{
    margin-top: 50px;
}
footer{
    padding: 130px 230px;
    display: flex;
    gap: 117px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"],footer input[type="email"] {
    height: 30px;
    border-radius: 5px;
    background: white;
    display: block;
    width: 100%;
    padding:18px 30px ;
    border: none;
    font-size:16px ;
    margin-bottom: 24px;
    border-radius: 10px;
}
footer textarea{
    border-radius: 10px;
    background: white;
    display: block;
    width: 100%;
    padding:18px 30px ;
    border: none;
    font-size:16px ;
    margin-bottom: 24px;
    font-family: "Open Sans", sans-serif;
    height: 150px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}
.contact-icon{
    display: flex;
    gap: 24px;
    margin-top: 30px;
}
i{
    margin-right: 10px;
}